{% extends "uaUCRuaProject2Bundle::ua_base.html.twig"%} 


{%block slider%}{%endblock%}
{%block header_bottom_left%}{%endblock%}

{%block content%}


    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Movies</h3>
    		</div>
                
    		<div class="sort">
    		<p>Sort by:
    			<select>
    				<option>Lowest Price</option>
    				<option>Highest Price</option>
    				<option>Lowest Price</option>
    				<option>Lowest Price</option>
    				<option>Lowest Price</option>
    				<option>In Stock</option>  				   				
    			</select>
    		</p>
    		</div>
    		<div class="show">
    		<p>Show:
                    <select name="showNumber" id="showNumber" onchange="changeShowNumber()">
                        <option value="3" onclick="{{path('ua_uc_rua_project2_movies', {'page': 1,'moviesNum': 3})}}">3</option>
                        <option value="6" onclick="{{path('ua_uc_rua_project2_movies', {'page': 1,'moviesNum': 6})}}">6</option>
                        <option value="9" onclick="{{path('ua_uc_rua_project2_movies', {'page': 1,'moviesNum': 9})}}">9</option>
                        <option value="12" onclick="{{path('ua_uc_rua_project2_movies', {'page': 1,'moviesNum': 12})}}">12</option>
                    </select>
    		</p>
                
    		</div>
    		<div class="page-no">
    			<p>Result Pages:<ul>
                           {%for i in 1..totalPages%}
                                <li class="active"><a href="{{path('ua_uc_rua_project2_movies', {'page': i,'moviesNum': moviesNumber})}}">{{i}}</a></li>
                           {%endfor%}
                            
    				
    				<!--<li>[<a href="{{path('ua_uc_rua_project2_movies', {'page': 1,'moviesNum': 6})}}"> Next>>></a >]</li>  -->
    				</ul></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
                   	
                   {% for movie in allMovies %}
				<div class="grid_1_of_4 images_1_of_4">
                                    <div class="listimg listimg_2_of_1">
                                            <a href="{{path('ua_uc_rua_project2_movie_details', {'codMovie': movie.getCodMovie()})}}"> <img src="{{ asset('bundles/uaucr_uaproyect2_app/images/movies/movie' ~ movie.getCodMovie() ~ '.jpg')}}" height="170" width="150" alt="" /></a>
                                    </div>
					 
					 <h2>{{ movie.getTitle()}} </h2>
					
					 <p><span class="price">${{movie.getPrice()}}.00</span></p>
					  <div class="button"><span><img src="{{ asset('bundles/uaucr_uaproyect2_app/images/cart.jpg')}}" alt="" /><a href="{{path('ua_ucr_ua_project2_add_to_cart', {'codMovie': movie.getCodMovie()})}}" class="cart-button">Add to Cart</a></span> </div>
				     <div class="button"><span><a href="{{path('ua_uc_rua_project2_movie_details', {'codMovie': movie.getCodMovie()})}}" class="details">Details</a></span></div>
				</div>
                    {% endfor %}	
	      </div>

            <div class="content_top">
    		<div class="heading">
                    <h3>Actors</h3>
    		</div>
                
    		<div class="page-no">
    			<p>Result Pages:<ul>
                           {%for i in 1..totalPages%}
                                <li class="active"><a href="{{path('ua_uc_rua_project2_movies', {'page': i,'moviesNum': moviesNumber})}}">{{i}}</a></li>
                           {%endfor%}
      
    				</ul></p>
    		</div>
    		<div class="clear"></div>
    	</div>

            <div class="section group">
                   	
                   {% for actor in allActors %}
                        <div class="grid_1_of_4 images_1_of_4">
                          
                            <h2><a href="{{path('ua_uc_rua_project2_actor_movies', {'idActor': actor.getId(), 'page':1, 'moviesNum':6} )}}">{{ actor.getName() ~ " " ~ actor.getLastname()}}</a> </h2>

                        </div>
                    {% endfor %}	
	      </div>
<script type="text/javascript">
        
        function changeShowNumber(){
            var selectedNumber = document.getElementById('showNumber').value;
            
            
        }
</script> 

{%endblock%}